@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.active {
    color: #444444;
    background-color: #008afc69;
}

a {
    background-color: #fbfbfb;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    width: 50%; height: 100%;
    transition: all 100ms ease-in-out;
}

a:hover {
    background-color: #008afc69;
    color: #444444;
}

@media(min-width: 1024px) {
    a {
        padding: 0.25em;
    }
}